@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
:root {
    --negro: #272725;
    --rojOscuro: #D02317;
    --blanco: #EBEBEB;
    --hueso: #F1E3D8;
    --rojoClaro: #AC231A;
}
*{
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--negro);
    font-family: 'Poppins', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

    /* -- header -- */
    header {
    background: url("/img/fondo1.jpg")no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  /* --boton-de-inicio--boton-comentarios--*/
  header h1 a {
    display: inline-block;
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--negro);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
    font-size: 16px;
  }
  header h1 a:hover{
    color: var(--negro);
    background-color: var(--blanco);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-4px);
   }
   
   header h1 a:active {
    box-shadow: none;
    transform: translateY(0);
    background-color: var(--hueso);
    color: var(--negro);
   }
   /* --fin-boton-inicio--boton-comentarios-- */

  /* inicio-texto */
  .texto {
    text-align: center;
  }
  .titulo {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--negro);
    padding: 50px 0;
  }
  .descuento {
    background-color: rgba(216, 216, 216, 0.6);
    color: var(--rojOscuro);
    font-size: 35px;
    font-weight: 600;
    padding: 15px 0;
    margin: 20px 0;
  }
  /* --fin-texto-- */

  /* --botones-inicio-- */
  .botones {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-wrap: wrap;
  }
  .botones a {
    display: inline-block;
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--rojoClaro);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
    font-size: 16px;
  }
  .botones a:hover {
    color: var(--blanco);
    background-color: var(--negro);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-4px);
   }
   .botones a:active {
    box-shadow: none;
    transform: translateY(0);
    background-color: var(--hueso);
    color: var(--negro);
   }
  /* --fin-botones-incio-- */

    /* --fin header-- */

/* -- main --*/
main {
  height: auto;
  margin: auto;
}
.caja1 {
  color: var(--blanco);
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.texto1 {
  text-align: center;
  padding: 40px 0;
}
.texto1 p {
  padding: 30px 0;
  font-size: 20px;
  color: var(--hueso);
}
.texto1 span {
  font-size: 35px;
  font-weight:bolder;
  text-transform: uppercase;
  color: var(--blanco);
  /* -- fin-texto --*/

  /* --lista-main-- */
}
.lista ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 18px;
  padding: 20px;
}
.lista li {
  margin: 0 40px;
}
 /* --fin-lista-main-- */

/* -- section -- */

section {
    background-color: var(--blanco);
    text-align: center;
    margin: auto;
    height: auto;
    overflow: hidden;
} 

section h2 {
    font-size: 50px;
    color: var(--negro);
    padding-top: 20px;
}

/* --tarjetas-paises--*/

.tarjetas {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 40px 0;
    gap: 20px;
  }
  
  .tarjetas .red {
    background: url("/img/fondoAsia.jpeg")no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .tarjetas .blue {
    background: url("/img/fondoAmerica.jpeg")no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

  }
  
  .tarjetas .green {
    background: url("/img/fondoEuropa.jpeg")no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .tarjetas .tarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 300px;
    width: 400px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .tarjetas .tarjeta a {
    font-size: 3em;
    font-weight: 700;
    text-decoration: none;
    color: var(--blanco);
    box-shadow: 2px 2px 9px var(--negro); 
    padding: 5px 40px;
}
/* --fin-tarjetas-paises--*/


/* Responsive-grande-600px  */
@media screen and (max-width: 600px) {
  .tarjetas {
    width: 100%;
    margin-bottom: 20px;
    
  }
  .tarjetas .tarjeta a {
    font-size: 2em;
    font-weight: 600;
}

.tarjetas .red,
.tarjetas .green,
.tarjetas .blue {
  width: 380px;
  height: 200px;
  margin-bottom: 10px;
  margin-left:10px;
  box-shadow: 2px 2px 4px var(--negro);
}
}
/* Responsive--movil-pequeño */
@media screen and (max-width: 400px) {
  .tarjetas {
    width: 100%;
    margin-bottom: 20px;
  }

.tarjetas .red,
.tarjetas .green,
.tarjetas .blue {
  width: 350px;
  height: 160px;
  margin-bottom: 10px;
  margin-left:3px;
}
}

/* Responsive--movil--muy-pequeño */
@media screen and (max-width: 370px) {
.tarjetas .red,
.tarjetas .green,
.tarjetas .blue {
  width: 300px;
  height: 160px;
  margin-bottom: 10px;
  margin-left:2px;
}
}
/* --fin-responsive-- */


/* --inicio-animacion-- */
.tarjetas .tarjeta p.second-text {
    font-size: .7em;
  }
  
  .tarjetas .tarjeta:hover {
    transform: scale(1.1, 1.1);
  }
  
  .tarjetas:hover > .tarjeta:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }
/*--fin-animacion-- */


/* -- footer -- */

footer {
  color: var(--blanco);
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer h3 {
  color:  var(--blanco);
  font-size: 40px;
  margin: 20px 0;
  padding: 20px;

}
/* --inicio-tarjetas-- */
.comentarios {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: auto;
  flex-wrap: wrap;
  padding: 40px 0;
  gap: 20px;
  color: var(--negro);
  margin: 20px 0;
}

.comentarios img {
  object-fit: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 2px 4px 20px var(--negro);
}
/* --animacion-tarjetas-- */
.comentario:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 4px 4px 20px var(--blanco) ;
}
/* -- fin-animacion-tarjetas-- */
.comentario {
  background: var(--blanco);
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}

.comentario p {
  padding: 20px 0;
}
/* --fin-tarjetas-- */
.copy {
  background-color: rgba(232, 232, 232, 0.8);
  color: var(--negro);
  padding: 10px;
}

/* -- fin-footer -- */