@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
:root {
    --negro: #272725;
    --rojOscuro: #D02317;
    --blanco: #EBEBEB;
    --hueso: #F1E3D8;
    --rojoClaro: #AC231A;
}
*{
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--negro);
    font-family: 'Poppins', sans-serif;
  }

    /* -- header -- */
    header {
    background: url("/img/fondo1.jpg")no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  /* --boton-de-inicio--boton-comentarios--*/
  header h1 a {
    display: inline-block;
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--negro);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
    font-size: 16px;
  }
  header h1 a:hover{
    color: var(--negro);
    background-color: var(--blanco);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-4px);
   }
   
   header h1 a:active {
    box-shadow: none;
    transform: translateY(0);
    background-color: var(--hueso);
    color: var(--negro);
   }
   /* --fin-boton-inicio--boton-comentarios-- */

  /* inicio-texto */
  .texto {
    text-align: center;
  }
  .titulo {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--negro);
    padding: 50px 0;
  }
  .descuento {
    background-color: rgba(216, 216, 216, 0.6);
    color: var(--rojOscuro);
    font-size: 35px;
    font-weight: 600;
    padding: 15px 0;
    margin: 20px 0;
  }
  /* --fin-texto-- */

  /* --botones-inicio-- */
  .botones {
    display: flex;
    justify-content: center;
    padding-top: 100px;
  }
  .botones a {
    display: inline-block;
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--rojoClaro);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
    font-size: 16px;
  }
  .botones a:hover {
    color: var(--blanco);
    background-color: var(--negro);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-4px);
   }
   .botones a:active {
    box-shadow: none;
    transform: translateY(0);
    background-color: var(--hueso);
    color: var(--negro);
   }
  /* --fin-botones-incio-- */

    /* --fin header-- */

/* -- main --*/
main {
  height: 500px;
}
.caja1 {
  color: var(--blanco);
  display: flex;
  justify-content: center;
}
.texto1 {
  text-align: center;
  padding: 40px 0;
}
.texto1 p {
  padding: 30px 0;
  font-size: 20px;
  color: var(--hueso);
}
.texto1 span {
  font-size: 35px;
  font-weight:bolder;
  text-transform: uppercase;
  color: var(--blanco);
}
.lista ul {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 20px;
}
.lista li {
  margin-right: 30px;
}



/* -- section -- */

section {
    background-color: var(--blanco);
    text-align: center;
    height: 600px;
}

section h2 {
    font-size: 50px;
    color: var(--negro);
    padding-top: 20px;
}

/* tarjetas-paises*/

.tarjetas {
    justify-content: center;
    display: flex;
    gap: 60px;
    padding: 40px 0;
  }
  
  .tarjetas .red {
    background: url("/pagina/img/fondoAsia.jpeg")no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .tarjetas .blue {
    background: url("/pagina/img/fondoAmerica.jpeg")no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

  }
  
  .tarjetas .green {
    background: url("/pagina/img/fondoEuropa.jpeg")no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .tarjetas .tarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 300px;
    width: 400px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .tarjetas .tarjeta a.tip {
    font-size: 3em;
    font-weight: 700;
    text-decoration: none;
    color: var(--blanco);
    box-shadow: 2px 2px 9px var(--negro); 
    padding: 5px 40px;
}
  
  .tarjetas .tarjeta p.second-text {
    font-size: .7em;
  }
  
  .tarjetas .tarjeta:hover {
    transform: scale(1.1, 1.1);
  }
  
  .tarjetas:hover > .tarjeta:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

/* fin tarjetas--paises-- */


/* -- footer -- */

/*--comentarios */

footer {
  justify-content: center;
  text-align: center;
}
footer h3 {
  color: var(--blanco);
  padding: 2em;
  font-size: 30px;
}

.comentarios span {
  font-weight: bolder;
  padding: 20px
}
.comentarios {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin-left: 10em;
    padding-bottom: 60px;
}
.comentarios img {
  width: 150px;
  padding: 20px 0;
  height: 150px;
  border-radius: 100%;
}
.comentario1,
.comentario2,
.comentario3 {
  border-radius: 20px;
  width: 250px;
  padding: 20px 80px;
  background-color: #fff;
  box-shadow: 10px 10px 20px #4a4e52;
  margin-right: 200px;
}

.comentario1 img {
  height: 120px;
  width: 130px;
}

/* fin comentarios */

.copy {
  background-color: var(--blanco);
  font-size:1em;
  padding: 10px;
  color: var(--negro);
}
